<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <link href="/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
  <style> .pointer { cursor: pointer; } </style>
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/jquery-ui/jquery-ui.min.js"></script>
  <script>
  function offset(o)
  {
    var uri = location.protocol + '//' + location.host + location.pathname + '?'
    location.search.split('?').pop().split('&').map( function(arg) {
      uri += ( arg.split('=')[0] != 'o' ) ? arg : ''
    } )
    location = uri + '&o=' + o
  }

  function new_tab(uri)
  {
    window.open(uri, '_blank')
  }

  $(document).ready( function() {
    $("#query").autocomplete( {
      source: function(request, response) {
        $.ajax( {
          url: "auto",
          data: {q: request.term},
          success: function(data) { response(data) }
        } )
      },
      minLength: 2
    } ) 
  } )
  </script>
</head>
<body>

<div class="container-fluid">
  <div class="well row row-eq-height">
    <form name="form" method="GET">
     <div class="col-md-8 col-md-offset-1">
      <div class="input-group">
        <input id="query" type="text" name="q" class="form-control" value="<%= query %>">
        <span class="input-group-btn">
         <button class="btn btn-primary" type="button" onclick="document.form.submit()">искать</button>
        </span>
       </div>
     </div>
    </form>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <p class="text-muted">Результатов: <%= pages.length + (offset-1)*10 %>/<%= found %></p>
    </div>
  </div>
</div>

<div class="container-fluid">
  <% pages.forEach( function(page) { %>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default">
          <div class="panel-body">
            <h4 class="text-primary"><a target="_blank" href="<%=page.href%>"><%- page.title %></a>
              <span class="text-muted">(<%= page.relevant %>)</span>
            </h4>
            <span class="text-success pointer" onclick="new_tab('<%=page.cache%>')"><%- page.url %></span>
            <span class="text-muted"><%= new Date(page.timestamp).toLocaleDateString() %></span>
            <p><%- page.matches %></p>
          </div>
        </div>
      </div>
    </div>
  <% } ) %>
</div>

<footer>
<div class="container-fluid">
<div class="row">
<div class="col-md-4 col-md-offset-4">
<div class="btn-toolbar" role="toolbar">
  <button class="btn btn-default" type="button" onclick="offset(<%= offset-1 %>)">&laquo</button>
  <div class="btn-group">
    <% for(var i = (offset>2) ? offset-2 : offset; i < ((offset>2) ? offset+3 : offset+5); i++) { %>
    <button class="btn <%= (i==offset) ? 'btn-info' : 'btn-default' %>" onclick="offset(this.innerHTML)" type="button"><%= i %></button>
    <% } %>
  </div>
  <button class="btn btn-default" type="button" onclick="offset(<%= offset+1 %>)">&raquo</button>
</div>
</div>
</div>
</div>
</footer>

</body>
</html>